@page
@using Identity_WebApp.Pages.Accounts
@model LoginModel
@{
}

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="Credentials.UserName"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="Credentials.UserName" class="form-control" />
                <span class="text-danger" asp-validation-for="Credentials.UserName"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="Credentials.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="Credentials.Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Credentials.Password"></span>

            </div>
        </div>
        <div class="mb-3 row form-check">
            <div class="col-2">
                <input type="checkbox" class="form-check-input" asp-for="Credentials.RememberMe" />
                <label class="form-check-label" asp-for="Credentials.RememberMe"></label>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login"/>
            </div>
            <div class="col-5">
                <a href="/Account/Register">Sign Up</a>
            </div>
        </div>
    </form>
</div>